#toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Memberikan jarak antar tombol */
  justify-content: center; /* Membuat toolbar berada di tengah */
}

#toolbar button {
  flex: 1 1 auto; /* Tombol akan menyesuaikan lebar */
  min-width: 40px; /* Lebar minimum tombol */
  max-width: 70px; /* Lebar maximum tombol */
  padding: 10px; /* Ruang di dalam tombol */
  font-size: 14px; /* Ukuran font tombol */
  font-weight: bold;
  margin: 15px;
  border: 1.5px solid #ccc; /* Gaya border */
  border-radius: 5px; /* Membuat tombol lebih halus */
  background-color: ivory;
}

@media (max-width: 600px) {
  #toolbar {
    gap: 3px; /* Kurangi jarak pada layar kecil */
  }

  #toolbar button {
    padding: 8px; /* Kurangi padding pada layar kecil */
    font-size: 12px; /* Kurangi ukuran font */
    
  }
}
